*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}
.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    padding:0% 6%;
}
nav{
    margin-left: 20%;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    padding: 5%;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
.navbar img{
    width: 40px;
}
.navbar button{
    text-align: center;
    margin-left: 35%;
    height: 30px;
    width: 150px;
    background-color:rgb(101, 180, 22);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 0 rgba(101, 180, 22, 0.774);
    transition: all 0.5s;
}
.navbar h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500px;
}
.navbar a:hover{
    color: rgb(101, 180, 22);
    font-size: 18px;
}
.navbar button:hover{
    box-shadow: 0 0 0;
    transform: scaleX(1.1);
    transform: translateY(8px);
}
.home{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.home img{
    width: 300px;
    box-shadow: 0 5px 5px black;
}
.gome{
    width: 600px;
    padding-right: 10%;
}
.gome h1{
    font-size: 70px;
    text-transform: uppercase;
}
.gome span{
    color: rgb(101, 180, 22);
}
.gome h3{
    text-transform: capitalize;
}
.gome p{
    padding-top: 3%;
}
.gome button{
    background-color: rgb(101, 180, 22);
    border: none;
    border-radius: 10px;
    height: 29px;
    width: 180px;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: 0 5px 0 rgba(101, 180, 22, 0.774);
    transition: all 0.5s;
}
.gome button:hover{
    box-shadow: 0 0 0;
    transform: translateY(5px);
}
.home img{
    border-radius: 15px;
}
@media(max-width:1280px){
    
    .home{
        margin-top: 5%;
        text-align: center;
        justify-content: center;
    }
    .gome {
        padding-right: 0;
        align-items: center;
        padding-bottom: 3%;
        width: 400px;
    }
    .navbar {
        
    }
    nav{
        margin-left: 10%;
    }
    nav ul li{
        padding: 2% 1%; 
    }
    .navbar button{
        display: none;
    }
}
@media(max-width:750px){
    .navbar{
    display: none;
    }

    .bok{
        width: 300px;
        margin-top: 5%; 
    }
    .propos{
        
        text-align: center;
        
    }
    .nous h1{
        padding-right: 1%;
        
    }
    .nous p{
        
    }
    .tit{
    text-align: center;
    }
    .tit::after{
        display: none;
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bok button{
        height: 30px;
    }
    
    
    .contactez img{
        padding-top: 3%;
        width: 300px;
        height: auto;
    }
}

/*services*/
.services{
    background-color: rgba(240, 248, 255, 0.363);
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.bok img{
    width: 100px;
}
.bok{
    border-radius: 10px;
    margin-top: 5%;
    width: 250px;
    height: 260px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.644);
}
.bok  p{
    text-transform:capitalize ;
    padding-top: 5%;
}
.titel{
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}
.bok button{
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 0px rgba(101, 180, 22, 0.548);
    margin-top: 7%;
    height: 30px;
    padding: 5px 8px;
    border-radius: 15px;
    border: none;
    background-color:rgba(101, 180, 22, 0.774) ;
    transition: all 0.5s ease;
}
.bok button:hover{
    box-shadow: 0 0px 0px rgba(101, 180, 22, 0.548);
    transform: translatey(5px);
}
/*propos*/
.propos{
    margin-top: 10%;
    
}
.nous{
    position: relative;
    padding-left: 10%;
    margin-top: 5%;
}
.nous h1{
    margin-left: 5%;
    position: absolute;
    top: -25px;
    left: -8px;
    font-size: 80px;
    color: rgba(101, 180, 22, 0.774);
}
.nous p{
    margin-top: 10px;
}
 h1.tit{
    position: relative;
    padding-left: 5%;
    text-transform: uppercase;
    font-size: 50px;

 }
.tit::after{
    content: "";
    position: absolute;
    left:110px;
    bottom:1px;
    width: 500px;
    height: 5px;
    border-radius:10px;
    background-color:rgba(101, 180, 22, 0.774) ;
}
/*contct*/
.contactez{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    align-items: center;
    justify-content: space-around;
}
.contactez h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
.contactez img{
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 5px 5px;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
   margin-left: 5%;
   
}
.contactez input{
    text-transform: capitalize;
    margin-top: 5%;
    height: 50px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgba(169, 169, 169, 0.158);
}
input.message{
    height: 170px;
    padding-bottom: 120px;
}
.ti{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
button{
    background-color: rgba(101, 180, 22, 0.774);
    cursor: pointer;
    height: 50px;
    border-radius: 15px;
    border:none;
    margin-top: 5%;
}
